[submodule "solarized/mate-terminal"]
	path = solarized/mate-terminal
	url = https://github.com/countjocular/mate-terminal-colors-solarized.git
[submodule "solarized/gnome-terminal"]
	path = solarized/gnome-terminal
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "solarized/various"]
	path = solarized/various
	url = https://github.com/altercation/solarized.git
[submodule "emacs.d.symlink/non-elpa/color-theme-solarized"]
	path = emacs.d.symlink/non-elpa/color-theme-solarized
	url = https://github.com/mattduck/emacs-color-theme-solarized.git
[submodule "splitscreen"]
	path = splitscreen
	url = https://github.com/mattduck/splitscreen.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "solarized/dircolors"]
	path = solarized/dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "emacs.d.symlink/non-elpa/shackle"]
	path = emacs.d.symlink/non-elpa/shackle
	url = git@github.com:mattduck/shackle.git
[submodule "emacs.d.symlink/non-elpa/evil-mu4e"]
	path = emacs.d.symlink/non-elpa/evil-mu4e
	url = git@github.com:mattduck/evil-mu4e.git
