[submodule "emacs.d.symlink/non-elpa/color-theme-solarized"]
	path = emacs.d.symlink/non-elpa/color-theme-solarized
	url = https://github.com/mattduck/emacs-color-theme-solarized.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "emacs.d.symlink/non-elpa/shackle"]
	path = emacs.d.symlink/non-elpa/shackle
	url = git@github.com:mattduck/shackle.git
[submodule "emacs.d.symlink/non-elpa/evil-mu4e"]
	path = emacs.d.symlink/non-elpa/evil-mu4e
	url = git@github.com:mattduck/evil-mu4e.git
[submodule "bash/fabric-completion"]
	path = bash/fabric-completion
	url = git@github.com:kbakulin/fabric-completion.git
[submodule "emacs.d.symlink/non-elpa/hideshow-orgmode"]
	path = emacs.d.symlink/non-elpa/hideshow-orgmode
	url = git@github.com:mattduck/hideshow-orgmode.git
[submodule "emacs.d.symlink/non-elpa/emacs-theme-gruvbox"]
	path = emacs.d.symlink/non-elpa/emacs-theme-gruvbox
	url = git@github.com:mattduck/emacs-theme-gruvbox.git
[submodule "fzf-tab-completion"]
	path = fzf-tab-completion
	url = git@github.com:lincheney/fzf-tab-completion.git
