# .config might contain files that have been dumped by programs, so
# don't include it by default
config.symlink/*
emacs.d.spacemacs
emacs.d.symlink/#*
emacs.d.symlink/*.elc
emacs.d.symlink/.#*
emacs.d.symlink/.backups
emacs.d.symlink/.dap-breakpoints
emacs.d.symlink/.extension
emacs.d.symlink/.lsp-*
emacs.d.symlink/.org-generic-id-locations
emacs.d.symlink/.org-id-locations
emacs.d.symlink/anaconda-mode
emacs.d.symlink/annotations
emacs.d.symlink/bookmarks
emacs.d.symlink/custom.el
emacs.d.symlink/datadog.el
emacs.d.symlink/dogapi-credentials
emacs.d.symlink/ede-projects.el
emacs.d.symlink/eln-cache/
emacs.d.symlink/elpa
emacs.d.symlink/eshell
emacs.d.symlink/eshell/history
emacs.d.symlink/history
emacs.d.symlink/image-dired
emacs.d.symlink/init.html
emacs.d.symlink/init.tex
emacs.d.symlink/network-security.data
emacs.d.symlink/non-elpa/bookmark-plus/
emacs.d.symlink/non-elpa/emacs-which-key
emacs.d.symlink/non-elpa/org-mind-map
emacs.d.symlink/non-elpa/use-package/
emacs.d.symlink/org-gcal
emacs.d.symlink/projectile*
emacs.d.symlink/recentf
emacs.d.symlink/request
emacs.d.symlink/request/
emacs.d.symlink/tramp
emacs.d.symlink/transient
emacs.d.symlink/tutorial
emacs.d.symlink/url
ipython.symlink/*
spacemacs
vim/vim.symlink
osx/Brewfile.lock.json
macos/Brewfile.lock.json