# .config might contain files that have been dumped by programs, so
# don't include it by default
config.symlink/*
emacs.*.spacemacs
emacs.*.symlink/#*
emacs.*.symlink/*.elc
emacs.*.symlink/.#*
emacs.*.symlink/.backups
emacs.*.symlink/.dap-breakpoints
emacs.*.symlink/.extension
emacs.*.symlink/.lsp-*
emacs.*.symlink/.org-generic-id-locations
emacs.*.symlink/.org-id-locations
emacs.*.symlink/anaconda-mode
emacs.*.symlink/annotations
emacs.*.symlink/bookmarks
emacs.*.symlink/chatgpt
emacs.*.symlink/custom.el
emacs.*.symlink/datadog.el
emacs.*.symlink/dogapi-credentials
emacs.*.symlink/ede-projects.el
emacs.*.symlink/eln-cache/
emacs.*.symlink/elpa
emacs.*.symlink/eshell
emacs.*.symlink/eshell/history
emacs.*.symlink/history
emacs.*.symlink/image-dired
emacs.*.symlink/init.html
emacs.*.symlink/init.tex
emacs.*.symlink/network-security.data
emacs.*.symlink/non-elpa/bookmark-plus/
emacs.*.symlink/non-elpa/emacs-which-key
emacs.*.symlink/non-elpa/org-mind-map
emacs.*.symlink/non-elpa/use-package/
emacs.*.symlink/org-gcal
emacs.*.symlink/org-persist
emacs.*.symlink/org-roam.db
emacs.*.symlink/projectile*
emacs.*.symlink/projects
emacs.*.symlink/recentf
emacs.*.symlink/request
emacs.*.symlink/request/
emacs.*.symlink/straight/
emacs.*.symlink/tramp
emacs.*.symlink/transient
emacs.*.symlink/tutorial
emacs.*.symlink/url
ipython.symlink/*
spacemacs
vim/vim.symlink
osx/Brewfile.lock.json
macos/Brewfile.lock.json
