# Packages that I want in all my envs or are expected by Emacs.
flake8
ipython
pudb
pyperclip
pytest
pytest-cov
pytest-pudb
isort
argcomplete
Fabric3
mypy
black

# pyls/emacs dependencies
rope
python-language-server
pyls-mypy
pyls-isort
pyls-black
# pyls requires this
jedi<0.16,>=0.14.1

# Required for dap-python
ptvsd>=4.2
